/*   Global styles   */
body {
  margin: 0;
  padding: 0;
}

/*   Gallery layout  */

.gallery {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.gallery a img {
  width: 180px;
  height: auto;
  display: inline-block;
  padding: 30px;
}


/*   Hide span element   */
.caption {
  display: none;
}
