/*   Global styles   */
body {
  margin: 0;
  padding: 0;
}

/*   Gallery layout  */

.gallery {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.gallery a img {
  width: 180px;
  height: auto;
  display: inline-block;
  padding: 30px;
}

.gallery a {
  height: 0;
  width: 0;
}


/*   Hide span element   */
.caption {
  display: none;
}

/*   Search styles   */
#search {
  width: 460px;
  border-radius: 10px;
  font-size: 16pt;
}

.search-input {
  text-align: center;
  margin-top: 20px;
}

.no-results {
  display: none;
}


/*   lightGallery Plugin user styles   */

.lg-toolbar.group {
    display: none;
}

.lg-backdrop.in {
  opacity: .5;
}

.lg-sub-html {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: black;
  border-radius: 20px;
}
